/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  background: white;
  min-height: 100%;
}

.container {
  padding: 1rem;
}

.row {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
}
.columns {
  width: 100%;
  display: block;
}

.column.subtitle {
  padding: 0.2rem;
}

@media (max-width: 500px) {
  .row {
    display: inline;
  }
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 23px;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

h1.title {
  padding-left: 2.5rem;
}

/* end global */
/* navbar */
nav {
  background: rgb(81, 81, 87);
  padding: 0.5rem;
}

nav a, nav h1, nav .navbar-brand, nav .navbar-menu {
  display: inline-block;
}

nav .navbar-brand {
  line-height: 2rem;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(214, 214, 214);
  padding: 0.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}

nav a:hover {
  color: white;
}

nav a#title {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
  margin-right: 2rem;
  font-weight: 100;
}

nav .title {
  padding-top: 1px;
}

nav .carrot {
  display: none;
  color: white;
}

@media (max-width: 570px) {
  nav {
    height: 3rem;
    transition: height 400ms;
    overflow: hidden;
    cursor: pointer;
  }
  nav a#title {
    margin-right: 1rem;
  }
  nav .carrot {
    display: inline;
  }
  nav:hover {
    height: 10rem!important;
  }
  nav a:not(#title), nav .navbar-brand, nav .navbar-menu {
    width: 100%;
    display: block!important;
  }
}

/* navbar end */



/* title implement cards */


/* end title implement card */
