<style>
  .about--container {
    padding: 2rem;
    border-radius: 2rem;
  }
</style>
{% extends 'blog/base.html' %}
{% load static %}

{% block title %} About{% endblock %}

{% block content %}
  <div class="about--container">

    <p class="about">
      Welcome to the website for Implementation. Our names our Daniel and Lev Stambler (two brothers,
      think <a href="#">Rick and Morty</a>) and this is our website
      and blog for the Implementation Podcast (learn about start ups and more), and general brain dumps.
    <p>
    <br />
    <p>
      Click here to check out <a href="https://dstambler17.github.io/" target ="_blank">Daniel's personal site</a>
    </p>
    <br />
    <p>
      Click here to check out <a href="#">Lev's personal site</a>
    </p>
  </div>
{% endblock %}