{% extends 'blog/base.html' %}
{% load static %}
<div class="container">
{% block title %} {{ user.username }}{% endblock %}

{% block content %}
<div class="row">
    <div class="columns">
        <h3>Blog Posts</h3>
        {% for post in user.post_set.all %}
            <li><a href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a></li>
        {% endfor %}
    </div>
    <br/>
    <div class="columns">
    <h3>Podcast Uploads</h3>
        {% for podcast in user.podcast_set.all %}
            <li><a href="{% url 'blog-episode' podcast.slug %}">{{ podcast.title }}</a></li>
        {% endfor %}
    </div>
</div>
{% endblock %}
</div>