{% extends 'blog/base.html' %}
{% load static %}

{% block title %} {% if month %} {{month}} {% endif %} {{year}} {% endblock %}

{% block content %}
<div class="row">
    <div class="columns">
        <h3>Blog Posts</h3>
        {% for post in post_list %}
            <div><a href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a></div>
        {% endfor %}
    </div>
    <br/>
    <div class="columns">
        <h3>Podcasts</h3>
        {% for podcast in podcast_list %}
            <div><a href="{% url 'blog-episode' podcast.slug %}">{{ podcast.title }}</a></div>
        {% endfor %}
    </div>
</div>
{% endblock %}
