{% extends 'blog/base.html' %}
{% load static %}
<div class="container">
{% block title %} Episodes{% endblock %}

{% block content %}

{% if entry_list %}
    <div class="row">
        <div class="columns columns-entry">
            {% for podcast in entry_list reversed %}
                <div class="column subtitle">
                    <div>
                        <h2>
                            <a href="{% url 'blog-episode' podcast.slug %}" >{{ podcast.title }}
                            </a>
                        </h2>
                        By: <a href="/contributors/{{ podcast.author.id }}/" >{{ podcast.author.username }}</a>
                        {% for item in podcast.catagories.all %}
                            &nbsp; Categorey: <a href="{% url 'blog-categories' item.slug %}" >{{item.title}}</a>
                        {% endfor %}
                    </div>
                    <a href="/year/{{ podcast.date_posted|date:"Y"}}/month/{{ podcast.date_posted|date:"n" }}" >{{ podcast.date_posted}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p>No posts available</p>
    {% endif %}
{% endblock %}
</div>