{% extends 'blog/base.html' %}
{% load static %}
<style>
</style>

<div class="container">
{% block title %} Recent Entries{% endblock %}

{% block content %}
{% if posts %}
  <div class="row">
    <h3 class='is-green'>Most Recent Posts</h3>
  </div>
  <div class="row">
    <div class="columns columns-entry">
    {% for post in posts reversed %}
      <div class="column subtitle">
        <div>
          <h2>
            <a href="{% url 'blog-detail' post.slug %}" >{{ post.title }}</a>
          </h2>
          By: <a href="{% url 'blog-contributors' post.author.id %}" >{{ post.author.username }}</a>
          {% for item in post.catagories.all %}
            &nbsp; Categorey: <a href="{% url 'blog-categories' item.slug %}" >{{item.title}}</a>
          {% endfor %}
        </div>
        <a href="/year/{{ post.date_posted|date:"Y"}}/month/{{ post.date_posted|date:"n" }}" >{{ post.date_posted }}</a>
      </div>
    {% endfor %}
    </div>
  </div>
  {% else %}
    <p>No posts are available.</p>
  {% endif %}
  </div>
  {% if podcasts %}
  <div class="row">
    <h3>Most Recent Podcasts</h3>
  </div>
    <div class="row">
      <div class="columns columns-entry">
        {% for podcast in podcasts reversed %}
            <div class="column subtitle">
                <div>
                    <h2>
                        <a href="{% url 'blog-episode' podcast.slug %}" >{{ podcast.title }}
                        </a>
                    </h2>
                    By: <a href="/contributors/{{ podcast.author.id }}/" >{{ podcast.author.username }}</a>
                    {% for item in podcast.catagories.all %}
                        &nbsp; Categorey: <a href="{% url 'blog-categories' item.slug %}" >{{item.title}}</a>
                    {% endfor %}
                </div>
                <a href="/year/{{ podcast.date_posted|date:"Y"}}/month/{{ podcast.date_posted|date:"n" }}" >{{ podcast.date_posted}}</a>
            </div>
          {% endfor %}
        </div>
        <br>
    {% else %}
      <p>No posts are available.</p>
    {% endif %}
    </div>
    <br/>
  </div>
  {% endblock %}
</div>
  