{% extends 'blog/base.html' %}
{% load static %}
<div class="container">
{% block title %} Blog Posts{% endblock %}

{% block content %}

{% if entry_list %}
    <div class="row">
        <div class="columns columns-entry">
    {% for post in entry_list reversed %}
        <div class="column subtitle">
            <div>
              <h2>
                <a href="{% url 'blog-detail' post.slug %}" >{{ post.title }}</a>
              </h2>
              By: <a href="{% url 'blog-contributors' post.author.id %}" >{{ post.author.username }}</a>
              {% for item in post.catagories.all %}
                &nbsp; Categorey: <a href="{% url 'blog-categories' item.slug %}" >{{item.title}}</a>
              {% endfor %}
            </div>
            <a href="/year/{{ post.date_posted|date:"Y"}}/month/{{ post.date_posted|date:"n" }}" >{{ post.date_posted }}</a>
        </div>
    {% endfor %}
        </div>
    </div>
{% else %}
    <p>No posts available</p>
{% endif %}
{% endblock %}
</div>